body {
    text-align: center;
    margin: auto;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    display: block;
    }

table.currentCats {
    overflow-y: scroll;
    overflow-x: visible;
    }

td {
    border: 1px solid #dddddd;
    text-align: center;
    word-break: initial;
    padding: 9px;
    margin: auto;
    }

.mainBody {
    display: inline-flex;
    }

.currentCats {
    background-color: rgb(173, 173, 173);
    color: #fff;
    padding: 15px;
    margin: 15px;
    max-height: 400px;
    }

.titleTag {
    color: rgb(243, 115, 190);    
    font-weight: 550;
    letter-spacing: 2px;
    background-color: rgb(75, 119, 66);
    }

.nameTag {
    color: rgb(75, 119, 66);
    background-color: rgb(243, 115, 190);
    font-weight: 700;
    text-shadow: white 0.5px;
    }

#mascot {
    height: auto;
    width: 50%;
    padding: 25px;
    margin: auto;
    }